.rk-figure {
    width: 50px;
    height: 80px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    margin: 2px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background-color: rgb(233, 233, 233);
  }
  
  
  h3.rk-figure-number {
    padding-top: 17px;
    width: fit-content;
    margin: auto;
    font-size: 140%;
  }