.RkFigure {
    width: 100px;
    height: 160px;
    border-radius: 10px;
    border: solid;
    border-color: black;
    margin: 2px;
    display: inline-block;
}

h3.RkFigureNumber {
    padding-top: 34px;
    width: 20%;
    margin: auto;
    font-size: 34px;
}