.bottomStatusBar {

  position: fixed;
  bottom: 0;
  background-color: rgb(145, 171, 255);
}

.rk-stack {
  width: 80%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: scroll;
}

.rk-figure-void {
  width: 50px;
  height: 80px;
  border-radius: 10px;
  border: solid;
  border-color: black;
  margin: 2px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background-color: rgb(233, 233, 233);
}


h3.rk-figure-number {
  padding-top: 17px;
  width: 20%;
  margin: auto;
  font-size: 17px;
}

.rk-table {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rk-top-element {
  margin-left: 10px;
  margin-right: 10px;
  display:inline-block;
}

.rk-current-player {
  font-size: 35px;
}
