.rk-series {
    max-width: 800px;
    min-width: 55px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }